// category-item.component.scss
@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/functions' as f;
@use '../../../styles/abstracts/mixins' as m;

.category-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  &_image {
    width: 100%;
    background-color: f.color('white');
    border-radius: 0.5rem;
    overflow: hidden;
    
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  
  &_content {
    text-align: center;
  }
  
  &_new {
    color: f.color('primary');
    font-size: f.get-font-size('small');
    letter-spacing: 0.625rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  
  &_name {
    color: f.color('black');
    font-size: f.get-font-size('h5');
    font-weight: f.get-font-weight('bold');
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    
    @include m.medium {
      font-size: f.get-font-size('h4');
    }
  }
  
  &_description {
    color: f.color-with-opacity('black', 0.5);
    font-size: f.get-font-size('body');
    line-height: 1.67;
    margin-bottom: 2.5rem;
  }
}