@use '../../../styles/abstracts/variables' as v;
@use '../../../styles/abstracts/functions' as f;
@use '../../../styles/abstracts/mixins' as m;

.category-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  @include m.medium {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
  
  &_image {
    display: block;
    width: 100%;
    
    @include m.medium {
      flex: 1;
    }
    
    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      object-fit: cover;
    }
  }
  
  &_content {
    text-align: center;
    
    @include m.medium {
      flex: 1;
      text-align: left;
    }
  }
  
  &_new {
    color: f.color('primary');
    font-size: f.get-font-size('small');
    letter-spacing: 0.625rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  
  &_name {
    color: f.color('black');
    font-size: f.get-font-size('h4');
    font-weight: f.get-font-weight('bold');
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    
    @include m.medium {
      font-size: f.get-font-size('h2');
    }
  }
  
  &_description {
    color: f.color-with-opacity('black', 0.5);
    font-size: f.get-font-size('body');
    line-height: 1.67;
    margin-bottom: 1.5rem;
  }
}